@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
body {
  background-color: #fff;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  min-height: 100vh;
}
.card {
  width: 80%;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 4px;
  border: 1px solid #222;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card img {
  width: 100%;
}
.border {
  border: 1px dashed #000;
  border-radius: 4px;
  padding: 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.desc {
  padding: 0.4rem 0 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.img_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
footer {
  text-align: center;
  padding: 2rem 0 1rem;
}
footer p {
  font-size: 1.4rem;
}
mark {
  display: inline-block;
  line-height: 0;
  padding-bottom: 0.5em;
  background-color: #a7f2a4;
}
.message-card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 28vh;
  margin-bottom: 1rem;
}
.message-card {
  background: #fdfdfdfd;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 320px;
  text-align: center;
  position: relative;
  border: 2px solid #4caf50; /* لون أخضر زاهي */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote-container {
  position: relative;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #4caf50; /* لون أخضر زاهي */
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
  font-style: normal;
}
.button {
  background-color: #4caf50; /* لون أخضر زاهي */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #45a049; /* لون أخضر أغمق عند المرور */
}
.blue {
  margin-left: 4px;
  text-decoration: underline;
  color: blue;
}
button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #000;
  font-size: 1rem;
  padding: 8px 12px;
  margin: 0 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button:hover {
  box-shadow: none;
  transform: translateY(0.1rem);
}
a {
  text-decoration: none;
}
.hal{
  margin-top: 8px;
 width: 180px;
}